#search_box
  %h2 Find an Action

  - form_for @search, :url => actions_path, :html => {:method => :get} do |f|

    %table{ :border=>"0", :cellpadding=>"0", :cellspacing=>"0" }
      %tr.first
        %td Search Term:
        %td= f.text_field :keywords, :size => 22
        %td
          = submit_tag 'Search'
          &nbsp;
          = submit_tag 'Google Map', :onclick => "$('#new_search').attr('action', '#{map_index_path}')"
          &nbsp;
          = submit_tag 'Tag Cloud', :onclick => "$('#new_search').attr('action', '#{tags_path}')"
          &nbsp;
          = submit_tag 'Random', :onclick => "$('#new_search').attr('action', '#{random_path}')"
      %tr
        %td Type of Action:
        %td= f.select :action_type, options_for_action_type_select
        %td
          Created:
          = f.select :created, options_for_created_select
  
    - Site.find(:all, :order => :name).each_slice(5) do |sites|
      .platform_select
        - sites.each do |site|
          = check_box_tag 'search[sites][]', site.id, @search.has_site?(site)
          = site.name
          %br/
          
  %br{:clear => 'all'}/
  