%h1 Editing action

= error_messages_for :action

- form_for(:action, :url => object_url, :html => { :method => :put }) do |f|
  = render :partial => "form", :locals => {:f => f}
  %p= submit_tag "Update"

= link_to 'Show', object_path
|
= link_to 'Back', objects_path
