%h1 Viewing action

%div[@action]
  %h2= @action.title
  
  .description
    = @action.description
  
  %p
    Link:
    = link_to @action.url, @action.url, :popup => true

  .dates
    Created:
    = @action.created_at

  .platform
    Source:
    = link_to @action.site.name, @action.site.url, :popup => true
  

  %p= link_to :back
