= render :partial => 'actions/search_form'

#tag_cloud
  - tag_cloud @tags, %w(tag1 tag2 tag2 tag4) do |tag, css_class|
    - if tag == @tag
      = tag.name
    - else
      = link_to tag.name, tag_path(tag), :class => css_class
    

#search_results
  %h2 Results
  = page_entries_info_with_tag @actions, @tag
  = render :partial => 'actions/action', :collection => @actions
  = will_paginate @actions