!!! 1.0

%html{"xmlns"=>"http://www.w3.org/1999/xhtml", "xml:lang"=>"en"}
  %head
    %meta{"http-equiv" => "Content-Type", :content => "text/html; charset=utf-8"}/
    %title A Mashup of 29+ Social Action Platforms
    = stylesheet_link_tag 'main', 'facebox'
    = javascript_include_tag 'jquery', 'facebox', 'application'
    = yield :map_headers
  %body{ map_loader }
  
    - if params[:controller] == 'actions' and params[:action] == 'index' and params[:search].nil?
      = render :partial => 'layouts/main_header'
    - else
      = render :partial => 'layouts/header'
    
    = yield
    
    = render :partial => 'layouts/footer'